<!DOCTYPE HTML>
<html>
<head>
    <title>텀블벅 - 크리에이터를 위한 크라우드 펀딩</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-md">
    <p class="my-4">
        <span style="display: inline-block" class="mb-2">검색 결과</span>
        <br>
        <span class="text-danger">100</span>개의 프로젝트가 있습니다.
    </p>
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <img src="/static/image/mainImage.png" style="width: 100%; height: 240px; margin-bottom: 16px" alt="mainImage">
            </a>
            <div>
                <p class="text-secondary fw-bold" style="font-size: 12px; margin-bottom: 4px"><a class="text-secondary" href="#">굿즈</a> | <a href="#" class="text-secondary">따개비</a></p>
                <p class="fw-bold" style="font-size: 14px; height: 40px"><a href="#" style="color: black">특별한 2023년을 위해, &lt;파도의 모든 기록&gt; 다이어리</a></p>
                <p class="text-danger fw-bold" style="font-size: 14px; margin-top: -10px">419% 달성</p>
            </div>
        </div>
    </div>
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#" >1</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>