<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>

</head>


<div class="search-mode" >
    <input type="text" placeholder="검색어 입력">
    <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
   

   
    </div>
    <div class="style__TitleSection-sc-12m0dpe-1 dIySvk"><div class="style__Title-sc-12m0dpe-2 dcXlgC">인기 검색어</div><div class="style__UpdateDate-sc-12m0dpe-3 jjbOhu">10.29 17:00 기준</div></div>
   


    
    </div>
    </div>

</html>