<!DOCTYPE HTML>
<html>
<body>
<footer>
<div class="inner">
    <div class="upper">
        <h1>Mooming</h1>
        <ul>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Family Site</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
    </div>
    <div class="lower">
        <address>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, suscipit.<br>
            TEL : 010-1111-2222     TEL : 031-1111-1111
        </address>
        <p>
            2023 MOOMING &copy; copyright all rights reserved. 
        </p>
    </div>
    </div>
</footer>
</body>

</html>