<!DOCTYPE HTML>
<html>
<head>
    <title>텀블벅 - 크리에이터를 위한 크라우드 펀딩</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
    </style>
</head>
<header id="navbar"></header>

<body>
    <div class="container-md">
        <!-- Include your navbar HTML here -->

        <!-- Include your profile header HTML here -->

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active text-dark fw-bold" href="#">프로필</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary fw-bold" href="#">올린 프로젝트</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary fw-bold" href="#">후원한 프로젝트</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary fw-bold" href="#">팔로워</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary fw-bold" href="#">팔로잉</a>
            </li>
        </ul>

        <div class="my-4">
            <p style="font-size: 15px; white-space: pre-wrap;">
                안녕하세요
            </p>
        </div>
    </div>
</body>
</html>