<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->

</head>

<header id="navbar"></header>


<!-- 여기서부터 메인 -->
<figure>
    <img src="https://cdn.pixabay.com/photo/2016/11/14/03/38/achieve-1822503_1280.jpg" alt="run">
    <div class="inner">
        <h1>Mooming!</h1>
        <p>누구나 쉽고 빠르게 <br>
            운동 모임을 시작할 수 있습니다.</p>
        <a onclick="location.href='/templates/project/uploadForm.html'">모임 개설하기</a>
    </div>
</figure>
<main>
    <section>
        <!-- 주목할만한 모임 -->
        <div class="inner">
            <p class="menu">
                <span>최근 본 모임</span>
                <span class="view-all"><a href="#">전체보기</a></span>
            </p>
            <div class="wrap">
                <article>

                    <div class="pic">
                        <img src="https://i.namu.wiki/i/ahyfbHtLCDOq0ZTPYcdzzYvXlbDZbdcrpmZ96p4cKXO5a_BpxrtMdIRFWNnhMmmn_B3ezVpNVroS-cVmfsFHbw.webp"
                            alt="콘텐츠1">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">동방신기</a></span>
                        <span class="info"><a href="#">카시오페아</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://file2.nocutnews.co.kr/newsroom/image/2020/05/25/20200525123613648338_0_800_1152.jpg"
                            alt="콘텐츠2">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">축구</a></span>
                        <span class="info"><a href="#">다롱이</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/-4uIg85PnWVRCyaTQBAqRKxXGR4XHucfQHgFja3TV4BsXOaAfAay7W8xmQuJdJlMpjBoU82HOr3Hf9-dV58XPg.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">스쿼시</a></span>
                        <span class="info"><a href="#">지니</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/Lx6SFrMTljsfq2cU5sD9eADmfJZKLL0YdJpIZoznXR2XWuP0u8xMNaHFUjxHJIwscsb9oZs30v0wciWko4YXhQ.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">등산</a></span>
                        <span class="info"><a href="#">다람이</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/-4uIg85PnWVRCyaTQBAqRKxXGR4XHucfQHgFja3TV4BsXOaAfAay7W8xmQuJdJlMpjBoU82HOr3Hf9-dV58XPg.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">테니스</a></span>
                        <span class="info"><a href="#">스펀지밥</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>

            </div>
            <!-- second line -->
            <div class="wrap">
                <article>

                    <div class="pic">
                        <img src="https://i.namu.wiki/i/ahyfbHtLCDOq0ZTPYcdzzYvXlbDZbdcrpmZ96p4cKXO5a_BpxrtMdIRFWNnhMmmn_B3ezVpNVroS-cVmfsFHbw.webp"
                            alt="콘텐츠1">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">동방신기</a></span>
                        <span class="info"><a href="#">카시오페아</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://file2.nocutnews.co.kr/newsroom/image/2020/05/25/20200525123613648338_0_800_1152.jpg"
                            alt="콘텐츠2">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">축구</a></span>
                        <span class="info"><a href="#">다롱이</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/-4uIg85PnWVRCyaTQBAqRKxXGR4XHucfQHgFja3TV4BsXOaAfAay7W8xmQuJdJlMpjBoU82HOr3Hf9-dV58XPg.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">스쿼시</a></span>
                        <span class="info"><a href="#">지니</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/Lx6SFrMTljsfq2cU5sD9eADmfJZKLL0YdJpIZoznXR2XWuP0u8xMNaHFUjxHJIwscsb9oZs30v0wciWko4YXhQ.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">등산</a></span>
                        <span class="info"><a href="#">다람이</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/-4uIg85PnWVRCyaTQBAqRKxXGR4XHucfQHgFja3TV4BsXOaAfAay7W8xmQuJdJlMpjBoU82HOr3Hf9-dV58XPg.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">테니스</a></span>
                        <span class="info"><a href="#">스펀지밥</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>

            </div>

        </div>

        <hr>



        <!-- 주목할만한 모임 end-->

        <!-- 최근 본 모임 start -->
        <div class="inner">
            <p class="menu">
                <span>인기 모임</span>
                <span class="view-all"><a href="#">전체보기</a></span>
            </p>
            <div class="wrap">
                <article>

                    <div class="pic">
                        <img src="https://i.namu.wiki/i/ahyfbHtLCDOq0ZTPYcdzzYvXlbDZbdcrpmZ96p4cKXO5a_BpxrtMdIRFWNnhMmmn_B3ezVpNVroS-cVmfsFHbw.webp"
                            alt="콘텐츠1">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">동방신기</a></span>
                        <span class="info"><a href="#">카시오페아</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://file2.nocutnews.co.kr/newsroom/image/2020/05/25/20200525123613648338_0_800_1152.jpg"
                            alt="콘텐츠2">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">축구</a></span>
                        <span class="info"><a href="#">다롱이</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/-4uIg85PnWVRCyaTQBAqRKxXGR4XHucfQHgFja3TV4BsXOaAfAay7W8xmQuJdJlMpjBoU82HOr3Hf9-dV58XPg.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">스쿼시</a></span>
                        <span class="info"><a href="#">지니</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/Lx6SFrMTljsfq2cU5sD9eADmfJZKLL0YdJpIZoznXR2XWuP0u8xMNaHFUjxHJIwscsb9oZs30v0wciWko4YXhQ.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">등산</a></span>
                        <span class="info"><a href="#">다람이</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/-4uIg85PnWVRCyaTQBAqRKxXGR4XHucfQHgFja3TV4BsXOaAfAay7W8xmQuJdJlMpjBoU82HOr3Hf9-dV58XPg.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">테니스</a></span>
                        <span class="info"><a href="#">스펀지밥</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>

            </div>

        </div>
        <hr>
        <div class="inner">
            <p class="menu">
                <span>신규 모임</span>
                <span class="view-all"><a href="#">전체보기</a></span>
            </p>


            <div class="wrap">
                <article>

                    <div class="pic">
                        <img src="https://i.namu.wiki/i/ahyfbHtLCDOq0ZTPYcdzzYvXlbDZbdcrpmZ96p4cKXO5a_BpxrtMdIRFWNnhMmmn_B3ezVpNVroS-cVmfsFHbw.webp"
                            alt="콘텐츠1">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">동방신기</a></span>
                        <span class="info"><a href="#">카시오페아</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://file2.nocutnews.co.kr/newsroom/image/2020/05/25/20200525123613648338_0_800_1152.jpg"
                            alt="콘텐츠2">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">축구</a></span>
                        <span class="info"><a href="#">다롱이</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/-4uIg85PnWVRCyaTQBAqRKxXGR4XHucfQHgFja3TV4BsXOaAfAay7W8xmQuJdJlMpjBoU82HOr3Hf9-dV58XPg.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">스쿼시</a></span>
                        <span class="info"><a href="#">지니</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/Lx6SFrMTljsfq2cU5sD9eADmfJZKLL0YdJpIZoznXR2XWuP0u8xMNaHFUjxHJIwscsb9oZs30v0wciWko4YXhQ.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">등산</a></span>
                        <span class="info"><a href="#">다람이</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>
                <article>
                    <div class="pic">
                        <img src="https://i.namu.wiki/i/-4uIg85PnWVRCyaTQBAqRKxXGR4XHucfQHgFja3TV4BsXOaAfAay7W8xmQuJdJlMpjBoU82HOr3Hf9-dV58XPg.webp"
                            alt="콘텐츠3">
                    </div>
                    <div class="sub-info">
                        <span><a href="#">테니스</a></span>
                        <span class="info"><a href="#">스펀지밥</a></span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magni fugit laudantium nihil
                        cupiditate ipsam dolore molestias velit voluptas deleniti?</p>
                </article>

            </div>

        </div>
        <br>
        <hr>
    </section>
</main>

<!-- footer start-->
<footer id="footer"></footer>

<!-- footer end-->

</html>